.wisembly-pboard {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}

thead {
	background-color: #a1a9ae;
	color: #fff;
}

body {
    font-family: arial;
    font-size: 12px;
    background-color: #fff;
}

.loginComponent {
	margin-bottom: 40px
}

.login {
	float: right;
}

.List58a5c08868038bf35b2df6f6 {
	display: none;
}

.Tabs {
	margin-bottom: 20px
}

.tab-content{
	display: none;
}

.tab-content.current{
	display: inherit;
}

.roadmap {
	width: 100%;
	height: 100%;
}