.wisembly-pboard {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}

thead {
	background-color: #a1a9ae;
	color: #fff;
}

body {
    font-family: arial;
    font-size: 12px;
    background-color: #fff;
}

header {
	margin-bottom: 40px
}

.login {
	float: right;
}